* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color:#414042;
}
.black{
	background-color:black;
}
.orange{
	background-color:orange;
}
.white{
	background-color:white;
}
[class*=white]{
	height: 700px;
}
[class*=orange]{
    height: 700px;}
[class*=black]{
	height: 300px;
}
[class*=nested]{
	height: 300px;
}
body {
    font-family: 'Montserrat', sans-serif;
    color:#414042;
}
h2{
        text-align:center;
        padding:10px;
}
/* h1{
    margin:auto;
} */
/* #res{
    margin-left: 330px;
} */
#slider1{
        position:relative;
        left:55px;
    }
#footer{
    height:100px;
}
/* #submitbutton{
    margin-left:520px;
} */
#timepicker{
    border: 3px solid #00B6C9;
    overflow: auto;
    height:200px;
    width: 200px;
    text-align:left;
    position:relative;
    left:140px;
    top:10px;
}
#namepicker{
    position:relative;
    left:120px;
    top:60px;
/*     border: 3px solid #00B6C9; */
}
#one{
    width:50px;
}
#two{
    width:50px;
    position:relative;
    bottom:260px;
    left:80px;
}
#three{
    width:50px;
}
#four{
    width:50px;
    position:relative;
    bottom:145px;
    left:20px;
}